<app-payments-order-preview></app-payments-order-preview>
<div class="center">
  <div class="body-header">N and F solutions</div>
  <div class="body-create-payment-order">
    <button class="create-payment-order-button">Create Payment Order</button>
  </div>
  <div class="container-lg custom-padding">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div>
          <fa-icon [icon]="faFileInvoiceDollar" [size]="'xl'"></fa-icon>
          <span style="padding-left: 16px; font-size: 24px; font-weight: 100"
            >Your Accounts</span
          >
        </div>
        <div style="padding-top: 16px">
          <table class="table">
            <thead>
              <tr>
                <td style="font-weight: bold">Bank(Currency)</td>
                <td title="Hello" style="font-weight: bold">Balance</td>
              </tr>
            </thead>
            <tbody>
              <tr style="cursor: pointer" (click)="navigatePaymentList()">
                <td style="color: #1b4f75">
                  <div style="display: flex">
                    <div class="col-2">
                      <fa-icon [icon]="faWallet" [size]="'xl'"></fa-icon>
                    </div>
                    <div class="col-10">
                      Virtual Wallet(USD)
                      <pre>2024*******</pre>
                    </div>
                  </div>
                </td>
                <td>
                  $9,999,97.00
                  <pre>Updated at Jun 26 2025 &#64; 12:56pm</pre>
                </td>
              </tr>
              <tr style="cursor: pointer" (click)="navigatePaymentList()">
                <td style="color: #1b4f75">
                  <div style="display: flex">
                    <div class="col-2">
                      <fa-icon [icon]="faWallet" [size]="'xl'"></fa-icon>
                    </div>
                    <div class="col-10">
                      Virtual Wallet(USD)
                      <pre>2024*******</pre>
                    </div>
                  </div>
                </td>
                <td>
                  $0.00
                  <pre>Updated at Jun 26 2025 &#64; 12:56pm</pre>
                </td>
              </tr>
              <tr style="cursor: pointer" (click)="navigatePaymentList()">
                <td style="color: #1b4f75">
                  <div style="display: flex">
                    <div class="col-2">
                      <fa-icon [icon]="faWallet" [size]="'xl'"></fa-icon>
                    </div>
                    <div class="col-10">
                      ACH Debit Account
                      <pre>1417******</pre>
                    </div>
                  </div>
                </td>
                <td>
                  $9,999,97.00
                  <pre>Updated at Jun 26 2025 &#64; 12:56pm</pre>
                </td>
              </tr>
              <tr style="cursor: pointer" (click)="navigatePaymentList()">
                <td style="color: #1b4f75">
                  <div style="display: flex">
                    <div class="col-2">
                      <fa-icon [icon]="faWallet" [size]="'xl'"></fa-icon>
                    </div>
                    <div class="col-10">
                      ACH Debit Account
                      <pre>1417******</pre>
                    </div>
                  </div>
                </td>
                <td>
                  $9,999,97.00
                  <pre>Updated at Jun 26 2025 &#64; 12:56pm</pre>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <app-quick-pay-transfer></app-quick-pay-transfer>
      </div>
    </div>
  </div>
</div>
