<div class="footer">
  <div class="center">
    <div style="display: flex">
      <div style="text-align: left; align-content: flex-start">
        <span style="padding-left: 8px"
          >RBC <span style="color: #38a8c8">Pay</span><i>Edge</i></span
        >
        <pre>Royal Bank of Canada Website &#64;1995 - 2025</pre>
      </div>

      <!-- <div style="text-align: right; float: right">
        <span style="padding-left: 8px"
          >RBC <span style="color: #38a8c8">Pay</span><i>Edge</i></span
        >
        <pre></pre>
      </div> -->
    </div>
  </div>
</div>
