<div class="center">
  <div>Payment Orders</div>

  <div style="padding-top: 16px">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">In Progress</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Scheduled</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pending Approval</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Draft</a>
      </li>
    </ul>
  </div>

  <div style="padding-top: 16px">
    <table class="table table-striped table-primary">
      <thead>
        <tr>
          <th scope="col">Order #</th>
          <th scope="col">Processing Date</th>
          <th scope="col">Status</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1053821</td>
          <td>Nov 08 2024</td>
          <td>In Progress</td>
          <td>1.50</td>
        </tr>
        <tr>
          <td>1053821</td>
          <td>Nov 08 2024</td>
          <td>In Progress</td>
          <td>1.50</td>
        </tr>
        <tr>
          <td>1053821</td>
          <td>Nov 08 2024</td>
          <td>In Progress</td>
          <td>1.50</td>
        </tr>
        <tr>
          <td>1053821</td>
          <td>Nov 08 2024</td>
          <td>In Progress</td>
          <td>1.50</td>
        </tr>
        <tr>
          <td>1053821</td>
          <td>Nov 08 2024</td>
          <td>In Progress</td>
          <td>1.50</td>
        </tr>
        <tr>
          <td>1053821</td>
          <td>Nov 08 2024</td>
          <td>In Progress</td>
          <td>1.50</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="padding-top: 16px">View All Orders</div>

  <div style="padding-top: 16px; float: right">
    <button class="create-payment-order-button">Create Payment Order</button>
  </div>
</div>
