<div style="background-color: #eef1f5; border-top: #244a63 4px solid">
  <div style="padding: 32px 8px 8px 8px">
    <div>
      <fa-icon [icon]="faCircleDollarToSlot" [size]="'xl'"></fa-icon>
      <span style="color: #244a63; padding-left: 16px"
        >Quick Pay & Transfer</span
      >
    </div>
    <div
      style="padding-top: 24px; display: flex; justify-content: space-between"
    >
      <div style="flex: 1">
        <button
          class="create-payment-order-button"
          style="width: 90%; border-radius: 5px"
        >
          Quick Pay
        </button>
      </div>
      <div style="flex: 1">
        <button
          class="create-payment-order-button"
          style="
            width: 90%;
            border-radius: 5px;
            background-color: white;
            color: #1b4f75;
          "
        >
          Transfers
        </button>
      </div>
    </div>
    <div style="padding-top: 16px; font-size: 8px; font-weight: 200">
      Quick Pay allows you to process single payments.
      <span style="color: #244a63; font-weight: bold"
        >Create a Payment Order</span
      >
      if you need to process multiple payments, upload an invoice or additional
      details
    </div>
    <div style="padding-top: 16px">
      <div style="font-size: 14px; font-weight: bold">Supplier *</div>
      <div style="margin-top: 8px">
        <mat-form-field
          appearance="outline"
          class="custom-select"
          style="width: 100%; padding: 0"
        >
          <mat-label>Select a supplier</mat-label>
          <mat-select [formControl]="suppliers" multiple>
            <mat-select-trigger>
              {{suppliers.value?.[0] || ''}}
              @if ((suppliers.value?.length || 0) > 1) {
              <span class="example-additional-selection">
                (+{{ (suppliers.value?.length || 0) - 1 }}
                {{ suppliers.value?.length === 2 ? "other" : "others" }})
              </span>
              }
            </mat-select-trigger>
            @for (supplier of supplierList; track supplier) {
            <mat-option [value]="supplier">{{ supplier }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div style="padding-top: 16px">
      <div style="font-size: 14px; font-weight: bold">Amount *</div>
      <div style="margin-top: 8px">
        <input
          style="width: 100%; height: 40px"
          placeholder="Enter an amount"
        />
      </div>
    </div>

    <div style="padding-top: 16px">
      <div style="font-size: 14px; font-weight: bold">Payment Method *</div>
      <div style="margin-top: 8px">
        <mat-form-field
          appearance="outline"
          class="custom-select"
          style="width: 100%; padding: 0"
        >
          <mat-label>Select a payment method</mat-label>
          <mat-select [formControl]="payments" multiple>
            <mat-select-trigger>
              {{payments.value?.[0] || ''}}
              @if ((payments.value?.length || 0) > 1) {
              <span class="example-additional-selection">
                (+{{ (payments.value?.length || 0) - 1 }}
                {{ payments.value?.length === 2 ? "other" : "others" }})
              </span>
              }
            </mat-select-trigger>
            @for (payment of paymentMethodList; track payment) {
            <mat-option [value]="payment">{{ payment }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
