<div style="background-color: #eef1f5">
  <div class="center">
    <div class="container-lg container-padding">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Pending Approval:</th>
            <th scope="col">Attention Required:</th>
            <th scope="col">Schedule Payments:</th>
            <th scope="col">Next Scheduled Payment Date:</th>
            <th scope="col">Completed This Month:</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="tablePadding">
            <td style="color: #f61600">0 Order(s)</td>
            <td style="color: #f61600">8 Order(s)</td>
            <td>
              $69.00
              <img src="canada-flag-icon.png" width="24" height="24" />
            </td>
            <td>October 30th, 2024</td>
            <td>
              $0.00
              <img src="canada-flag-icon.png" width="24" height="24" />
            </td>
            <td>
              <fa-icon [icon]="faCircleArrowLeft" [size]="'xl'"></fa-icon>
              <!-- <i class="fa-sharp fa-thin fa-circle-arrow-left"></i> -->
            </td>
          </tr>
          <tr>
            <td style="color: #f61600">0 Transfer(s)</td>
            <td></td>
            <td>
              $10.00
              <img src="united-states-flag-icon.png" width="24" height="24" />
            </td>
            <td></td>
            <td>
              $0.00
              <img src="united-states-flag-icon.png" width="24" height="24" />
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
